/*Colors Variables*/
:root{
    --primary: #0d72fd;
    --primary-hover: #0c68e8;
    --secondary: #333;
    --bg-color: #f8f9fa;
    --white: #fff;
    --gray: #333;
    --light-gray: #555;
    --footer: #343a40;
    --light-green: #8DD7BF;
}
/* For general styles */
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, sans-serif;
    background-color: #f8f9fa;
    color: var(--gray);
}

/* Sticky Header */
.sticky-header {
    display: flex;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    padding: 10px 20px;
    color: var(--primary);
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.sticky-header h1{
    font-size: 1rem;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container .logo img {
    width: 70px;
    height: auto;
    margin-right: 1rem;
}
/* Navigation Links */
.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: var(--primary);
    margin: 10px 0 10px 20px;
    text-decoration: none;
    transition: 0.3s ease;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Burger Menu Styles */
    .burger-menu {
        display: none;
        flex-direction: column;
        cursor: pointer;
        padding: 10px;
    }

.burger-menu span {
    width: 25px;
    height: 3px;
    background: var(--primary);
    margin: 3px 0;
    transition: tarnsform 0.3s ease;

}
/* Responsive Navigation */
@media (max-width:780px){
    .burger-menu{
        display: flex;
    }
    .nav-links {
        display: none !important;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding: 20px 0;
        transition: 0.3s ease;
    }

    .nav-links a{
        margin-left: 0;

    }
    .nav-links.active,
    .burger-menu{
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }
}

/* Burger Menu Animation */
.burger-menu.open span:nth-child(1) {
    transform: translateY(8px) rotate(43deg);
}
.burger-menu.open span:nth-child(2) {
    opacity: 0;
}
.burger-menu.open span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Footer */
footer {
    background-color: var(--footer);
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
footer img:hover {
    transform: scale(1.1);
}
.footer-img{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

footer p{
    font-size: 0.8rem;
    color: var(--white);
    text-align: center;
    width: 100%;
}
footer a{
    text-decoration: none;
}
/* Section Styles */
section{
    padding: 40px 20px;
    text-align: center;
    background-color: var(--white);
    margin: 80px auto 20px;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}
section h1{
    color: var(--primary);
    font-size: 3rem;
    margin-bottom: 10px;
}
section p{
    font-size: 1rem;
    line-height: 1.6;
    color: var(--gray);
}
section a {
    color: var(--primary);
    font-weight: bold;
    text-decoration: none;
}
section a:hover {
    text-decoration: underline;
}
