/*Colors Variables*/
:root{
    --primary: #0d72fd;
    --primary-hover: #0c68e8;
    --secondary: ;
    --bg-color: #f8f9fa;
    --white: #fff;
    --gray: #333;
    --light-gray: #555;
    --footer: #343a40;
    --light-green: #8DD7BF;
}


/* For general styles */
* {
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: var(--gray);
}


.sticky-header {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    padding: 10px 20px;
    color: var(--primary);
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.sticky-header h1{
    font-size: 1rem;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container .logo img {
    width: 70px;
    height: auto;
    margin-right: 1rem;
}
.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: var(--primary);
    margin: 10px 0 10px 20px;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Burger Menu Styles */
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger-menu span {
    width: 25px;
    height: 3px;
    background: var(--primary);
    margin: 3px 0;


}

/* Responsive Navigation */
@media (max-width: 768px) {
    .nav-links {
        display: none !important;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding: 20px 0;
    }

    .nav-links a{
        margin-left: 0;
    }

    .nav-links.active, .burger-menu{
        display: flex !important;
    }
}

/* Burger Menu Animation */
.burger-menu.open span:nth-child(1) {
    transform: translateY(8px) rotate(43deg);
}
.burger-menu.open span:nth-child(2) {
    opacity: 0;
}
.burger-menu.open span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


footer {
    background-color: var(--footer);
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
footer img:hover {
    transform: scale(1.1);
}
.footer-img{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

footer p{
    font-size: 1rem;
    color: var(--white);
}
footer a{
    text-decoration: none;
}
