header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: var(--gray);
    position: relative;
}
.logo {
    display: flex;
    flex-direction: row;
    width: 15%;
    height: auto;
}
.TreasureHunt{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    color: var(--light-green);
    font-size: 24px;
}
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
    color: var(--light-green);
}

@media screen and (max-width: 1000px) {
    .hamburger {
        display: block;
    }

    .navMenu {
        display: flex;
    }

    .navMenu {
        display: none;
        position: absolute;
        top: 110px;
        left: 0;
        background-color:#BE1622;
        width: 100%;
        padding: 10px;

    }

    .navMenu.open {
        display: flex;
    }

    .myNav {
        flex-direction: column;
        gap: 10px;
    }

    .navList a {
        color: #C7CBDA;
        font-size: 20px;
    }
}

.myNav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.navList {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 0.1em;
    margin: 2em;
}

a {
    text-decoration: none;
    color: #C7CBDA;
}

.myNav a:hover {
    display: flex;
    flex-direction: row;
    color: #9BCB4E;
}
.footer {
    background-color: #b0b6bb;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}




body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
}


.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


h1 {
    color: #1d3e5e;
    font-size: 24px;
    font-weight: bold;
}

h2 {
    color: #1d3e5e;
    font-size: 20px;
    font-weight: bold;
}


p {
    font-size: 16px;
    color: #333;
}

.italic {
    font-style: italic;
    color: #666;
}


.team-list {
    list-style: none;
    padding: 0;
}

.team-list li {
    font-size: 16px;
    margin: 5px 0;
}


.start-btn {
    background-color: #0078D4;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.start-btn:hover {
    background-color: #005fa3;
}


.footer {
    background-color: #b0b6bb;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 35px;
    height: 120px;
}

.footer img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}