:root {
        --bg-color: #f8f9fa;  /* Light background */
        --primary: #0d72fd;   /*  Primary color */
        --primary-hover: #0c68e8; /* primary color hover */
        --white: #fff;        /* white color */
        --dark-gray: #333;    /* Dark text color */
        --gray: #2e2e2e;
        --qr-border: rgba(255, 255, 255, 0.3);
        --qr-glow: rgba(85, 188, 252, 0.5);
        --qr-glow-intense: rgba(85, 188, 252, 0.8);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: var(--bg-color);
    transition: background-color 0.3s ease;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    background: var(--primary);
    color: var(--white);
}

button:hover {
    background: var(--primary-hover);
    transform: translateY(-2px);
}

#preview {
    width: 80%;
    max-width: 500px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
}

#content {
    background: var(--gray);
    color: var(--white);
    padding: 15px;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.QR-frame{
    position: relative;
    padding: 20px;
    border: 5px solid var(--qr-border);
    border-radius: 12px;
    box-shadow: 0 0 15px var(--qr-glow);
    animation: glow 1.5s infinite alternate;
}
/*glowing animation*/
@keyframes glow {
    from{
        box-shadow: 0 0 10px var(--qr-glow);
    }
    to  {
        box-shadow: 0 0 10px var(--qr-glow-intense);
    }
}
/* in case you want to make your devices in dark mode */

@media (max-width: 800px) {
    main{
        height: auto;
        padding: 20px;
    }
    button{
        font-size: 16px;
        padding: 10px 20px;
    }
}
/* Dark mode support*/

@media (max-width: 500px) {
    :root{
        --bg-color: #121212;
        --gray: #1e1e1e;
        --qr-border: rgba(255, 255, 255, 0.2);
        --qr-glow: rgba(85, 188, 252, 0.5);
        --qr-glow-intense: rgba(85, 188, 252, 0.8);
    }
    main{
        background: var(--bg-color);
    }
    #content {
        background: var(--gray);
        color: var(--white);
    }
    button {
        background: #1976d2;
    }
    button:hover {
        background: #1565c0;
    }
}
/* QR code Fade-in & Animation */
/* Button hover & Click effects */
/* Glowing QR Frame for Animation */
/* Responsive Design for Mobile */
/* Dark Mode compatibility */