.container {
    max-width: 400px;
    margin: 5rem auto 1rem;
    background: var(--white);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
    color: var(--primary);
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Input box */
.input-box label {
    font-weight: bold;
    font-size: 1rem;
    display: block;
    margin-bottom: 5px;
}

.input-box input {
    font-size: 16px;
    width: 100%;
    color: #333;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border 0.2s;
}
.input-box input:focus {
    border-color: #4da3ff;
    box-shadow: 0 4px 8px rgba(77, 163, 255, 0.1);
}
/* Button */
button {
    width: 100%;
    padding: 10px;
    border: none;
    background: var(--primary);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 1rem;
}

button:hover {
    background: var(--primary-hover);
    transform: translateY(-2px);
}
button:active{
    transform: scale(0.98);
}

/* Responsive for mobile */
@media (max-width: 768px) {
    .container {
        width: 90%;
        margin: 5rem 1rem 1rem;
    }
}
