* {
    box-sizing: border-box;
    font-family: "Verdana", sans-serif;
}

body {
    background-color: teal;
    color: white;
}

header {
    padding: 15px;
    font-size: 40px;
    border-bottom: 1px solid black;
}

header, footer {
    text-align: center;
}

footer {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid black;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

main {
    text-align: center;
}

.message {
    font-weight: lighter;
    font-size: 36px;
}

.image {
    width: 700px;
    background-color: chartreuse;
    border: 5px solid white;
}